<div
  class="content-header"
  style="display: flex; justify-content: space-between;"
>
  <h1>{{title}}</h1>
  <a
    href="/categories/add"
    class="btn btn-success btn-sm"
    style="margin-right: 15px;"
  >Create</a>
</div>

<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{{title}}</h3>

      <div class="card-tools">
        <button
          type="button"
          class="btn btn-tool"
          data-card-widget="collapse"
          title="Collapse"
        >
          <i class="fas fa-minus"></i>
        </button>
        <button
          type="button"
          class="btn btn-tool"
          data-card-widget="remove"
          title="Remove"
        >
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="card-body p-0">
      <table class="table table-striped projects">
        <thead>
          <tr>
            <th style="width: 1%">
              #
            </th>
            <th style="width: 20%">
              Category Name
            </th>
            <th style="width: 30%">
              Category image
            </th>
            <th>
              Products count
            </th>
            <th style="width: 8%" class="text-center">
              Status
            </th>
            <th style="width: 20%">
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each categories}}
            <tr>
              <td>
                #
              </td>
              <td>
                <a>
                  {{categoryName}}
                </a>
                <br />
                <small>
                  Created 15.08.2022
                </small>
              </td>
              <td>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <img
                      alt="Avatar"
                      class="table-avatar"
                      src="{{categoryImg}}"
                    />
                  </li>

                </ul>
              </td>
              <td class="project_progress">
                <div class="progress progress-sm">
                  <div
                    class="progress-bar bg-green"
                    role="progressbar"
                    aria-valuenow="57"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width: 57%"
                  >
                  </div>
                </div>
                <small>
                  57% Complete
                </small>
              </td>
              <td class="project-state">
                <span class="badge badge-success">Success</span>
              </td>
              <td class="project-actions text-right">
                <a class="btn btn-primary btn-sm" href="/products/{{_id}}">
                  <i class="fas fa-folder">
                  </i>
                  View
                </a>
                <a class="btn btn-info btn-sm" href="/categories/edit/{{id}}">
                  <i class="fas fa-pencil-alt">
                  </i>
                  Edit
                </a>
                <a
                  class="btn btn-danger btn-sm"
                  href="/categories/delete/{{id}}"
                >
                  <i class="fas fa-trash">
                  </i>
                  Delete
                </a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</section>
<!-- /.content -->